{% extends "layouts/default.html" %}
{% block contents %}
<a href="{{url_for("get_users_new")}}">Register</a>
<table>
  <thead>
    <tr>
      <td>Email</td>
      <td>Full Name</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td><a href="{{url_for("get_users_show", uid=user.id)}}">{{ user.email }}</a></td>
      <td><a href="{{url_for("get_users_show", uid=user.id)}}">{{ user.full_name }}</a></td>
      <td><a href="{{url_for("get_users_edit", uid=user.id)}}">Edit {{ user.full_name }}</a></td>
      <td>
        <form method="POST" action="{{url_for("post_users_destroy", uid=user.id)}}">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
