{% extends "layouts/default.html" %}
{% block contents %}
<a href="{{url_for("get_users_new")}}">Register</a>
<table>
  <thead>
    <tr>
      <td>Email</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Old Password</td>
      <td>Password</td>
      <td>Confirm Password</td>
      <td>Submit</td>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <form method="POST" action="{{ url_for("post_users_edit", uid=user.id) }}">
      <tr>
        <td><input name="email" value="{{ user.email }}"></td>
        <td><input name="first_name" value="{{ user.first_name }}"></td>
        <td><input name="last_name" value="{{ user.last_name }}"></td>
        <td><input name="old_password" type="password"></td>
        <td><input name="password" type="password"></td>
        <td><input name="confirm" type="password"></td>
        <td><input type="submit"></td>
      </tr>
    </form>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
