{% extends "layouts/default.html" %}
{% block contents %}
<form method="POST" action="{{url_for("post_users_new")}}">
  Email: <input name="email">
  First Name: <input name="first_name">
  Last Name: <input name="last_name">
  Password: <input type="password" name="password">
  Confirm: <input type="password" name="confirm">
  <input type="submit">
</form>
{% endblock %}
