<!doctype html>
<html>
  <head>
    {% block head %}
    {% block css %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <h1><a href="{{url_for("get_users_index")}}">Home</a></h1>
    <ul>
      {% for fm in get_flashed_messages() %}
      <li>{{ fm }}</li>
      {% endfor %}
    </ul>
    <main class="contents">
    {% block contents %}
    {% endblock %}
    </main>
    {% endblock %}
  </body>
</html>
